{
  "$schema": "http://json.schemastore.org/nycrc",
  "include": ["dist"],
  "exclude": ["dist/__tests__/", "dist/**/*.spec.*", "dist/**/*.test.*", "dist/**/*.d.ts"],
  "extension": [".js", ".ts", ".tsx"],
  "reporter": ["text", "html"],
  "exclude-after-remap": false,
  "watermarks": {
    "statements": [
      70,
      90
    ],
    "lines": [
      70,
      90
    ],
    "functions": [
      70,
      90
    ],
    "branches": [
      70,
      90
    ]
  }
}